In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import IsolationForest

In [2]:
# Data
X = np.random.rand(1000, 2)  # Data normal
outliers = np.random.rand(50, 2) + 3  # Data anomali
data = np.concatenate([X, outliers])

In [3]:
data = pd.DataFrame(data)
data.head()

          0         1
0  0.798492  0.201407
1  0.164052  0.424458
2  0.065085  0.497061
3  0.732185  0.331986
4  0.399710  0.517916

In [4]:
# Model Isolation Forest
model = IsolationForest(contamination=0.05, random_state=42)
preds = model.fit_predict(data)

In [5]:
# Filter data
normal_data = data[preds == 1]  # Data normal
anomaly_data = data[preds == -1]  # Data anomali

print("Jumlah data normal:", normal_data.shape[0])
print("Jumlah data anomali:", anomaly_data.shape[0])

Jumlah data normal: 997
Jumlah data anomali: 53

In [6]:
normal_data

            0         1
0    0.798492  0.201407
1    0.164052  0.424458
2    0.065085  0.497061
3    0.732185  0.331986
4    0.399710  0.517916
..        ...       ...
995  0.061066  0.523659
996  0.967980  0.147393
997  0.329546  0.373185
998  0.176335  0.319466
999  0.944497  0.222295

[997 rows x 2 columns]

In [7]:
anomaly_data

             0         1
134   0.019475  0.992542
157   0.017052  0.995995
733   0.005548  0.003615
1000  3.666337  3.107998
1001  3.392846  3.643798
1002  3.966639  3.453604
1003  3.257084  3.830202
1004  3.567927  3.973498
1005  3.554230  3.018109
1006  3.173495  3.912765
1007  3.443613  3.173005
1008  3.257357  3.789931
1009  3.459343  3.318965
1010  3.048182  3.704773
1011  3.972974  3.161364
1012  3.734475  3.444772
1013  3.956266  3.923538
1014  3.392185  3.632095
1015  3.937401  3.907093
1016  3.226180  3.853987
1017  3.255902  3.558436
1018  3.500569  3.664344
1019  3.804477  3.997928
1020  3.957121  3.378154
1021  3.591670  3.286313
1022  3.829868  3.978990
1023  3.729831  3.203374
1024  3.178008  3.084725
1025  3.332033  3.357060
1026  3.679180  3.232529
1027  3.058623  3.787835
1028  3.877147  3.741508
1029  3.816370  3.596335
1030  3.790134  3.999954
1031  3.595722  3.655080
1032  3.660826  3.175381
1033  3.101548  3.857137
1034  3.448279  3.544930
1035  3.580341  3.777355
1036  3.363886  3.339435
1037  3.688295  3.970498
1038  3.539807  3.739027
1039  3.272741  3.368404
1040  3.234583  3.369298
1041  3.728088  3.478764
1042  3.984988  3.914829
1043  3.501679  3.267332
1044  3.883398  3.620257
1045  3.955753  3.378176
1046  3.433515  3.625205
1047  3.906756  3.521231
1048  3.929376  3.103151
1049  3.788006  3.698249